.onoffswitch {
  position: relative;
  width: 100px;
  user-select: none;
  display: inline-block;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #999999;
  border-radius: 0;
}
.onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > div {
  float: left;
  position: relative;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
  padding-left: 15px;
  background-color: #c2c2c2;
  color: #ffffff;
}
.onoffswitch-inner .onoffswitch-inactive {
  padding-right: 15px;
  background-color: #c2c2c2;
  color: #000000;
  text-align: right;
}
.onoffswitch-switch {
  width: 40px;
  margin: 0;
  text-align: center;
  border: 0 solid #999999;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
  background: #000000;
  left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
  background: #ffffff;
  right: 0;
}
.onoffswitch-active .onoffswitch-switch:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 40px;
  border-style: solid;
  border-color: #000000 transparent transparent #000000;
  border-width: 15px 10px;
}
.onoffswitch-inactive .onoffswitch-switch:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 40px;
  border-style: solid;
  border-color: transparent #ffffff #ffffff transparent;
  border-width: 15px 10px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
