.search-bar {
  display: inline-flex;
  padding: 10px;
  border: 2px solid rgb(129, 129, 129);
  border-radius: 50px;
}

.search-bar__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  filter: invert(1);
}

.search-bar__input {
  font-size: 20px;
  color: white;

  background: none;
  outline: none;
  border: none;
}

.search-bar__input {
  border: none;
}

.search-bar__input:focus {
  outline: none;
}

.search-bar:has(.search-bar__input:focus) {
  outline: 2px solid rgb(0, 0, 0);
}
